.winkelnaam{
    font-family: Mangal;
    font-size: 30px;
    margin-left: 55%;
    margin-top: 23%;
}

.naam{
    font-family: Mangal;
    text-transform: uppercase;
}
.banknaam{
    font-family: Mangal;
    font-size: 30px;
    margin-left: 55%;
    margin-top: 21.7%;
}

.knopjes_div{
    height: 50px;
    margin-left: 9%;
    margin-top: 15px;
}

.knopjes{
    padding: 8px;
    color: $achtergrond;
    font-family: HP Simplified;
    font-size: 15px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.detail_div{
    width: 80px;
}

.foto_div{
    position: relative;
    overflow: hidden;
    float: left;
    padding-top: 0;
}
.foto_div img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.openingsuren{
    font-family: Nirmala UI;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 3px;
    width: 5%;
    margin-left: 70%;
    text-align: center;
    margin-top: -40px;
}

.knopje{
    font-family: Nirmala UI;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px;
    width: 80px;
    text-align: center;
    margin-top: 15px;
}

.roze_acht{
    background-color: $roze;
    border: 2px solid $lichtroze;
}

.groen_acht{
    background-color: $groen;
    border: 2px solid $lichtgroen;
}

.oranje_acht{
    background-color: $oranje;
    border: 2px solid $lichtoranje;
}

.roze{
    color: $roze;
}

.groen{
    color: $groen;
}

.oranje{
    color: $oranje;
}

.content_paginas{
    display: inline-block;
}

.data{
    height: 100%;
}


#banken{
    color: $groen;
}

#veldstraat{
    margin-left: 50%;
    margin-top: 15px;
}
