
#titel_slide1{
    color: #f0813c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#evi_slide1{
    color: #f4e8d3;
    margin-top: 70px;
    font-family: nirmala UI;
}

#sari_slide1{
    color: #f4e8d3;
    font-family: nirmala UI;
}

#tekst{
    color: #f4e8d3;
}

#codeertalen{
    color: #f4e8d3;
}

.codeertalen_{
    color: #f4e8d3;
}

#screenshot_tekst{
    color: #f4e8d3;
    font-family: nirmala UI;
}

#mobile{
    color: #f4e8d3;
}

#uitstapjes_mobile{
    border-style: none;
}

#restaurants_mobile{
    border-style: none;
}

#detail_restaurant_mobile{
    border-style: none;
}

#kledingwinkels_mobile{
    border-style: none;
}

#detail_kledingwinkel_mobile{
    border-style: none;
}

#banken_mobile{
    border-style: none;
}

#detail_bank_mobile{
    border-style: none;
}

#info_mobile{
    border-style: none;
}

#contact_mobile{
    border-style: none;
}

#weer_mobile{
    border-style: none;
}

#desktop{
    color: #f4e8d3;
}

#home_desktop{
    border-style: none;
}

#uitstapjes_desktop{
    border-style: none;
}

#restaurant_desktop{
    border-style: none;
}

#detail_restaurant_desktop{
    border-style: none;
}

#kledingwinkel_desktop{
    border-style: none;
}

#detail_kledingwinkel_desktop{
    border-style: none;
}

#banken_desktop{
    border-style: none;
}

#detail_bank_desktop{
    border-style: none;
}

#info_desktop{
    border-style: none;
}

#contact_desktop{
    border-style: none;
}

#weer_desktop{
    border-style: none;
}