
#titel_slide1{
    color: #f0813c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#evi_slide1{
    color: #f4e8d3;
    margin-top: 70px;
    font-family: nirmala UI;
}

#sari_slide1{
    color: #f4e8d3;
    font-family: nirmala UI;
}

#tekst{
    color: #f4e8d3;
}

#h3{
    color: #f4e8d3;
    font-family: nirmala UI;
}


#home_desktop{
    border-style: none;
}

